.header {
    &__country {
        display: flex;
        justify-content: center;
        align-items: initial;
    }
    &-country {
        display: flex;
        margin-left: 17px;
        margin-right: 17px;
        &__name {
            margin-top: 15px;
            font-size: 14px;
            font-weight: 700;
            color: #242424;
        }
        &__adrr {
            font-size: 12px;
            font-weight: 300;
        }
    }
    img {
        margin-top: 20px;
        margin-right: 11px;
        max-width: 28px;
        max-height: 21px;
    }
    &__decr {        
        display: block;

    }
}